@import "tailwindcss";

:root {
  --background: #f3f3f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.submit_button {
  @apply rounded-lg bg-indigo-900 px-4 py-2 text-sm font-medium text-white disabled:cursor-not-allowed disabled:opacity-60 cursor-pointer hover:bg-indigo-700 transition
}

.cancel_button {
  @apply rounded-lg bg-neutral-500 px-4 py-2 text-sm font-medium text-white cursor-pointer hover:bg-neutral-300 transition
}
.error_text {
  @apply text-red-500 text-xs
}

/* Sliders */
/* Track */
.slider::-webkit-slider-runnable-track {
  height: 0.5rem;
  border-radius: 9999px;
  @apply bg-gray-100
}

.slider::-moz-range-track {
  height: 0.5rem;
  border-radius: 9999px;
    @apply bg-gray-100
}

/* Thumb */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: var(--slider-color);
  margin-top: -0.25rem;
}

.slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: var(--slider-color);
  border: none;
}